body {
    overflow: hidden;
    background: #181127;
}


.g-con {
    z-index: 1;

    overflow: hidden;

    @include v-h-center($CONTENT_SAFE_WIDTH, $CONTENT_SAFE_HEIGHT);

    text-align: center;
    line-height: 580px;
    font-size: 72px;
    text-transform: uppercase;
    color: rgba(#000, .7);
    background-color: #fff;
    opacity: .3;
}
