@charset "UTF-8";

@import "page/page-0";
@import "page/page-1";
@import "page/page-2";
@import "page/page-3";
@import "page/page-4";

.page {
    overflow: hidden;
    position: relative;

    background-position: center;
    background-repeat: no-repeat;

    // 滚动到该屏的时候
    &.active {

    }
}


// 1、2、3、4 屏
@for $i from 1 to 5 {
    .page-#{ $i } {
        // 占位颜色
        background-color: nth($PAGE_BG_COLOR, $i);

        &.loaded {
            background-image: url("../img/page-#{ $i }.jpg");

            // IE6 背景特殊处理，使用不透明的背景
            _background-image: url("../img/ie/page-#{ $i }.jpg");
        }
    }
}
