@import "page/page-0";
@import "page/page-1";
@import "page/page-2";
@import "page/page-3";
@import "page/page-4";

.page {
    overflow: hidden;
    position: relative;

    background-position: center;
    background-repeat: no-repeat;

    &.active {

    }
}


@for $i from 0 to 5 {
    .page-#{ $i } {
        background-image: url("../img/page-#{ $i }.jpg");
        _background-image: url("../img/ie/page-#{ $i }.jpg");
        *background-image: url("../img/ie/page-#{ $i }.jpg");

        @if($i > 0) {
            .page-catalog {
                background-position: 0 -60px * ($i - 1);
            }
        }
    }
}
