body {
  overflow: hidden;
  background: #181127;
}

.g-con {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -290px;
  margin-left: -495px;
  width: 990px;
  height: 580px;
  text-align: center;
  line-height: 580px;
  font-size: 72px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  background-color: #fff;
  opacity: .3;
}

.m-navigation {
  z-index: 22;
  position: fixed;
  _position: absolute;
  right: -300px;
  padding-top: 191px;
  width: 191px;
  transition: right .2s .2s;
}
.m-navigation .mascot {
  position: absolute;
  top: 8px;
  left: 0;
  width: 191px;
  height: 191px;
  background: url("../img/navigation.png") no-repeat;
  _background-image: url("../img/ie/navigation.png");
}
.m-navigation .back-to-top {
  display: block;
  margin: 0 auto;
  width: 72px;
  height: 60px;
  background: url("../img/navigation.png") 0 -207px no-repeat;
  _background-image: url("../img/ie/navigation.png");
}
.m-navigation .back-to-top:hover {
  background-position: -72px -207px;
}
.m-navigation .page-anchor-list {
  margin: 0 auto;
  padding-top: 8px;
  width: 180px;
  text-align: center;
  background: url("../img/navigation-repeat.png") 52px -267px repeat-y;
  _background-image: url("../img/ie/navigation-repeat.png");
}
.m-navigation .page-anchor {
  padding-top: 6px;
  font-size: 0;
}
.m-navigation .page-anchor a {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
  font-weight: bold;
  color: #3b0d0d;
  border-radius: 4px;
  background-color: #cc1011;
}
.m-navigation .page-anchor a:hover, .m-navigation .page-anchor.active a {
  color: #ffd55e;
  background-color: #fd5a47;
  animation: swing 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

@keyframes swing {
  0% {
    transform: perspective(400px);
  }
  16.66667% {
    transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
  }
  33.33333% {
    transform: perspective(400px);
  }
  50% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }
  66.66667% {
    transform: perspective(400px);
  }
  83.33333% {
    transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
  }
  100% {
    transform: perspective(400px);
  }
}
.page-0 .plax-layer-wrapper,
.page-0 .plax-layer {
  height: 100%;
}
.page-0 .plax-layer-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.page-0 .plax-layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}
.page-0 .plax-layer {
  position: absolute;
  background-size: auto 600px;
}
.page-0 .plax-layer-0 {
  background-image: url("../img/0/parallax0.png");
  background-color: #ffaf1b;
}
.page-0 .plax-layer-1 {
  background-image: url("../img/0/parallax1.png");
}
.page-0 .plax-layer-2 {
  background-image: url("../img/0/parallax2.png");
}
.page-0 .plax-layer-3 {
  background-image: url("../img/0/parallax3.png");
}
.page-0 .plax-layer-4 {
  background-image: url("../img/0/parallax4.png");
}
.page-0 .plax-layer-5 {
  background-image: url("../img/0/parallax5.png");
}
.page-0 .plax-layer-6 {
  background-image: url("../img/0/parallax6.png");
}
.page-0 .plax-layer-7 {
  background-image: url("../img/0/parallax7.png");
}
.page-0 .plax-layer-8 {
  background-image: url("../img/0/parallax8.png");
}
.page-0 .plax-layer-top-scrim {
  top: -10px;
  height: 30px;
  background-color: #ffaf00;
}
.page-0 .plax-layer-bottom-scrim {
  bottom: -990px;
  height: 1000px;
  background-color: #210002;
}

.page-1 {
  background: #210002;
}

.page {
  overflow: hidden;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}

.page-1 {
  background-color: #2b8f59;
}
.page-1.loaded {
  background-image: url("../img/page-1.jpg");
  _background-image: url("../img/ie/page-1.jpg");
}

.page-2 {
  background-color: #e49141;
}
.page-2.loaded {
  background-image: url("../img/page-2.jpg");
  _background-image: url("../img/ie/page-2.jpg");
}

.page-3 {
  background-color: #407f91;
}
.page-3.loaded {
  background-image: url("../img/page-3.jpg");
  _background-image: url("../img/ie/page-3.jpg");
}

.page-4 {
  background-color: #02002f;
}
.page-4.loaded {
  background-image: url("../img/page-4.jpg");
  _background-image: url("../img/ie/page-4.jpg");
}

/*# sourceMappingURL=main.css.map */
